<%= render "partials/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Add a new seat</h1>

      <%= simple_form_for @seat do |f| %>
        <%= f.input :number %>
        <%= f.select :team, @teams%>
        <%= f.input :description %>
        <%= f.input :view %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
