<div class="wrapper-blue container">
  <% if params[:query] %>
    <h3>Your search results</h3>
    <div class="row">
      <% @matches.each do |match| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
            <div class="card-description">
              <%= match.date %>
              <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
            </div>
            <%= link_to "", match_path(match), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3 class="text-center" id="october">October Matches</h3>
    <div class="row">
      <% @october_matches.each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="text-center" id="november">November Matches</h3>
    <div class="row">
      <% @november_matches.each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="text-center" id="december">December Matches</h3>
    <div class="row">
      <% @december_matches.each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="text-center" id="january">January Matches</h3>
    <div class="row">
      <% @january_matches.each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="text-center" id="february">February Matches</h3>
    <div class="row">
      <% @february_matches.each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="text-center" id="march">March Matches</h3>
    <div class="row">
      <% @march_matches.each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="text-center" id="april">April Matches</h3>
    <div class="row">
      <% @april_matches.each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="text-center" id="may">May Matches</h3>
    <div class="row">
      <% @may_matches.each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>


