<%= render "partials/navbar" %>
<h2 class="text-center">Welcome, <%= current_user.first_name %> <%= current_user.last_name %></h2>

<% form_for %>

<%= current_user.seats.each do |seat| %>
<%= seat %>
<% end %>
