<h1 class="text-center">Welcome, <%= current_user.first_name %> <%= current_user.last_name %></h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2 class="text-center">Your Season Tickets</h2>
      <% @seats.each do |seat| %>
      <div class="dashboard-card dashboard-seat-card text-center">
        <div class="dashboard-card-category">
          <h3><%= seat.team %></h3>
        </div>
        <div class="dashboard-card-description">
          <p><%= seat.number %>, <%= seat.description %></p>
          <p>£ <%= seat.price %></p>
        </div>
      </div>
      <% end %>
      <p class="text-center"> <%= link_to "Add a new seat", new_seat_path, class: "btn btn-primary" %> </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="text-center">Your Bookings</h2>
      <% @bookings.each do |booking| %>
      <div class="dashboard-card dashboard-booking-card text-center">
        <div class="dashboard-card-category">
          <h3><%= booking.seat.team %></h3>
        </div>
        <div class="dashboard-card-description">
          <p>are playing at home against <%= booking.match.away_team %>.</p>
          <p>Your seat number: <%= booking.seat.number %>. <%= booking.seat.description %>.</p>
          <p>£<%= booking.seat.price %></p>
        </div>
      </div>
      <% end %>
      <p class="text-center"> <%= link_to "Book another match", matches_path, class: "btn btn-warning" %> </p>
    </div>
  </div>
</div>

<div class="text-center">
  <h2>Sales history</h2>
  <% @sold_tickets.each do |ticket| %>
    <h4>You sold your ticket for <%= ticket.match.date %>, <%= ticket.match.home_team %> vs <%= ticket.match.away_team %> to <%= ticket.buyer.first_name %> <%= ticket.buyer.last_name %> for £<%= ticket.seat.price %>. </h4>
  <% end %>
</div>

