<%= render "partials/banner" %>
<h2 class="text-center">Upcoming matches</h2>

<div class="wrapper-blue">
  <div class="container">
    <div class="row">
      <% @matches[0..8].each do |match| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path (match.photo) %>);">
<!--           <div class="card-category"></div> -->
          <div class="card-description">
            <%= match.date %>
            <h2><%= match.home_team %> vs <%= match.away_team %> </h2>
          </div>
          <%= link_to "", match_path(match), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<h3 class="text-center">We have hundreds more matches - <%= link_to "click here to see them all", matches_path %></h3>

