<%= render "partials/navbar" %>
<h1>Matches#index</h1>
<h2>This is going to be a page with a list of all the matches</h2>
<p>Find me in app/views/matches/index.html.erb</p>

<ul>
  <% @matches.each do |match| %>
    <li><%= match.home_team %> vs <%= match.away_team %> on <%= match.date %></li> <%= link_to "See Available Tickets", match_path(match)  %>
  <% end %>
</ul>
