
<div class="match_banner" style='background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path @match.photo %>);'>

  <div class="banner-content">
    <h4 class="text-center"><%= @match.date %></h4>
    <div class="flexbox text-center">
     <div>
       <h4>Home</h4>
       <h2><%= @match.home_team %></h2>
     </div>
     <div>
       <h4>Away</h4>
       <h2><%= @match.away_team %></h2>
     </div>
    </div>
  </div>
</div>

<div class="container">
<h2 class="text-center">Available seats</h2>
      <ul class="list-unstyled">
        <% @seats.each do |seat| %>

        <li class="product">

          <div class="product-upvote text-center">
            <p id="seat">seat</p>
            <p><%= seat.number %></p>
          </div>
          <% if seat.photo.url.nil? %>
            <%= image_tag "default.jpg", height: 120, width: 200, crop: :fill, class: "product-image img-rounded" %>
          <% else %>
            <%= cl_image_tag seat.photo, height: 120, width: 200, crop: :fill, class: "product-image img-rounded" %>
          <% end %>

          <div class="product-description">
            <h3><%= seat.description %></h3>
            <p>£<%= seat.price %></p>
          </div>

          <ul class="list-inline product-controls">
            <%= link_to "Book", match_bookings_path(@match, seat_id: seat.id), method: :post, class: "btn btn-primary" %>
          </ul>
        </li>
        <% end %>

      </ul>
    </div>

