<%= render "partials/navbar" %>

<h3 class="text-center"><%= @match.date %></h3>

<div class="flexbox text-center">
  <div>
    <h4>Home</h4>
    <h3><%= @match.home_team %></h3>
  </div>
  <div>
    <h4>Away</h4>
    <h3><%= @match.away_team %></h3>
  </div>
</div>

<%= @match.photo %>


<% @tickets.each do |ticket| %>
  <% if !ticket.sold %>
    <p>
      <%= ticket.seat.number %>
      <%= ticket.seat.stadium %>
      <%= ticket.price %>
      <%= link_to "Buy Ticket", match_match_ticket_path(@match, ticket)%>
    </p>
  <% end %>
<% end %>

