
<h2>This is a show page for a particular match</h2>

<div class="match_banner" style='background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("<%= @match.photo %>");'>
  <div class="banner-content">
    <h4 class="text-center"><%= @match.date %></h4>
    <div class="flexbox text-center">
     <div>
       <h4>Home</h4>
       <h2><%= @match.home_team %></h2>
     </div>
     <div>
       <h4>Away</h4>
       <h2><%= @match.away_team %></h2>
     </div>
    </div>
  </div>
</div>


<ul class="list-inline">
  <% @seats.each do |seat| %>
    <li><%= seat.number %></li>
    <li><%= seat.description %></li>
  <% end %>
</ul>

